.app {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);
    max-width: 1000px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .3);
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 1fr;
    background: rgba(238, 238, 238, .25);
    backdrop-filter: blur(10px);
}