.add_todo {

    &_title {
        font-size: 20px;
        font-weight: bold;
    }

    &_form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        margin-top: 20px;
    }

    &_input {
        padding: 10px 15px;
        color: #636e72;
        background: #dfe6e9;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: .3s border;

        &:focus {
            border: 1px solid #b2bec3;
        }
    }

    &_button {
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px 15px;
        color: #0984e3;
        border: none;
        transition: .3s background, .3s color;

        &:hover {
            background: #0984e3;
            color: #fff;
        }
    }
}